
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6547311-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-6547311-5');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - L2 Brands,LLC-Shipping</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div class="container-fluid pb-1 wideContainer">
        <!-- header -->
        <div class="container-fluid wideContainer">
            <div class="row w-100">
                <div class="col-md-12 headerrepeat w-100">
                    <div class="header">
                        <span class="navbar navbar-brand" style="font-size: 20px;padding-bottom: 10px; line-height: 10px; "><img style="width:50px; height: 50px;" src="../../Images/ShortcutIcon.png" />&nbsp;L2 Brands, LLC - Shipping</span>
                        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                
               
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <mat-icon style="line-height: 30px; height:30px; position: absolute; ">home</mat-icon><a href="/" style="line-height: 35px; height:30px; padding-left:20px;">&nbsp;Home</a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <!-- menu -->
        
            
        
        
       
    </div>

<!-- Home page content -->

    <div id="viewHome" class="d-none">
        
        <div class="row">
            <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header">
                        <i class="oi oi-globe"></i>&nbsp;L2 Brands, LLC-Shipping
                    </div>
                    <div class="card-body">
                        <mat-grid-list [cols]="2" rowHeight="25rem" gutterSize="5px">
                            <mat-grid-tile [rowspan]="1">
                                
                                <div class="card" style="width:40vw; ">
                                    <div class="card-header card-light-header">
                                        <div class="d-flex">
                                            <div>
                                                <i class="oi oi-list"></i>&nbsp;Assign Tracking Numbers
                                            </div>
                                            <a data-toggle="collapse" href="#collapseOne" title="Toggle Visibility" class=" flex-grow-1 float-right">
                                                <i class="oi oi-chevron-bottom float-right" style="color: white;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="collapse show" role="tabpanel">
                                        <div  class="card-body gridCard">
                                        
                                            <mat-grid-list cols="2" rowHeight="3:1">
                                                <mat-grid-tile>
                                                        <a href="/AssignNewTracking" class="btn btn-secondary btn-sm w-100 mb-2"  style="width:80%; font-size:14px;" role="button">Assign New Tracking</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    <a href="/EditExistingTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Edit Existing Tracking</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    
                                                    <a href="/SearchPreviousTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Search Previous Tracking</a>
                                                </mat-grid-tile>
                                                
                                                    
                                                
                                            </mat-grid-list>
                                           
                                        </div>
                                    </div>
                                </div>
                            
                            </mat-grid-tile>
                            <mat-grid-tile [rowspan]="1">
                                <div class="card" style="width:40vw;  ">
                                    <div class="card-header card-light-header">
                                        <div class="d-flex">
                                            <div>
                                                <i class="oi oi-list">Example 1</i>&nbsp;
                                            </div>
                                            <a data-toggle="collapse" href="#collapseDigi" title="Toggle Visibility" class=" flex-grow-1 float-right">
                                                <i class="oi oi-chevron-bottom float-right" style="color: white;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseDigi" class="collapse show" role="tabpanel">
                                        <div class="card-body gridCard">
                                            
                                            <mat-grid-list cols="2" rowHeight="3:1">
                                                <mat-grid-tile>
                                                        <a href="/AssignNewTracking" class="btn btn-secondary btn-sm w-100 mb-2"  style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    <a href="/EditExistingTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    
                                                    <a href="/SearchPreviousTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                
                                                    
                                                
                                            </mat-grid-list>
                                            
                                        </div>
                                    </div>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="card" style="width:40vw;  ">
                                    <div class="card-header card-light-header">
                                        <div class="d-flex">
                                            <div>
                                                <i class="oi oi-list">Example 2</i>&nbsp;
                                            </div>
                                            <a data-toggle="collapse" href="#collapseSOQueues" title="Toggle Visibility" class=" flex-grow-1 float-right">
                                                <i class="oi oi-chevron-bottom float-right" style="color: white;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseSOQueues" class="collapse show" role="tabpanel">
                                        <div class="card-body gridCard">
                                            
                                            <mat-grid-list cols="2" rowHeight="3:1">
                                                <mat-grid-tile>
                                                        <a href="/AssignNewTracking" class="btn btn-secondary btn-sm w-100 mb-2"  style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    <a href="/EditExistingTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    
                                                    <a href="/SearchPreviousTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                
                                                    
                                                
                                            </mat-grid-list>
                                           
                                        </div>
                                    </div>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="card" style="width:40vw;  ">
                                    <div class="card-header card-light-header">
                                        <div class="d-flex">
                                            <div>
                                                <i class="oi oi-list">Example 3</i>&nbsp;
                                            </div>
                                            <a data-toggle="collapse" href="#collapseUtilities" title="Toggle Visibility" class=" flex-grow-1 float-right">
                                                <i class="oi oi-chevron-bottom float-right" style="color: white;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseUtilities" class="collapse show" role="tabpanel">
                                        <div class="card-body gridCard">
                                            
                                            <mat-grid-list cols="2" rowHeight="3:1">
                                                <mat-grid-tile>
                                                        <a href="/AssignNewTracking" class="btn btn-secondary btn-sm w-100 mb-2"  style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    <a href="/EditExistingTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                <mat-grid-tile>
                                                    
                                                    <a href="/SearchPreviousTracking" class="btn btn-secondary btn-sm w-100 mb-2" style="width:80%; font-size:14px;" role="button">Example Button</a>
                                                </mat-grid-tile>
                                                
                                            </mat-grid-list>
                                     
                                        </div>
                                    </div>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    
         
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>


