
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6547311-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-6547311-5');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - L2 Brands,LLC-Shipping</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div class="container-fluid pb-1 wideContainer">
        <!-- header -->
        <div class="container-fluid wideContainer">
            <div class="row w-100">
                <div class="col-md-12 headerrepeat w-100">
                    <div class="header">
                        <span class="navbar navbar-brand" style="font-size: 20px;padding-bottom: 10px; line-height: 10px; "><img style="width:50px; height: 50px;" src="../../Images/ShortcutIcon.png" />&nbsp;L2 Brands, LLC - Shipping</span>
                        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                
               
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <mat-icon style="line-height: 30px; height:30px; position: absolute; ">home</mat-icon><a href="/" style="line-height: 35px; height:30px; padding-left:20px;">&nbsp;Home</a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <!-- menu -->
        
    </div>

<!-- Home page content -->

<!-- <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{toppings.value ? toppings.value[0] : ''}}
        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
          (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field> -->
  
    <div id="viewHome" class="d-none">
        
        <div class="row">
            <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header">
                        <i class="oi oi-globe"></i>&nbsp;Assign New Tracking Numbers
                    </div>
                    <div class="card-body">
                        <mat-grid-list [cols]="1" rowHeight="15rem" gutterSize="5px">
                            <mat-grid-tile [rowspan]="1" >
                                
                                <div class="card" style="width:100%; ">
                                    <div class="card-header card-light-header">
                                        <div class="d-flex">
                                            <div>
                                                &nbsp;Select Carrier, Enter Tracking Number, Enter Authorization ID
                                            </div>
                                            <a data-toggle="collapse" href="#collapseOne" title="Toggle Visibility" class=" flex-grow-1 float-right">
                                                <i class="oi oi-chevron-bottom float-right" style="color: white;"></i>
                                            </a>
                                        </div>
                                    </div>
                                   <mat-grid-list [cols]="4" rowHeight="12rem" >
                                       <mat-grid-tile [rowspan]="1">

                                       

                                            <div style="width:80%;">
                                                <h1>Carrier</h1>
                                                <section class="form-history-section" style="width: 600px;">
                                                    <mat-form-field appearance="fill" class="chk-margin" style="">
                                                        <mat-label>Carrier</mat-label>
                                                        <mat-select (selectionChange)="changeCarrierValue($event.value)">
                                                            <mat-option *ngFor="let carrier of carrierList" value="{{ carrier }}">
                                                                {{ carrier }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </section>
                                            </div>
                                                
                                       </mat-grid-tile>

                                       <mat-grid-tile [rowspan]="1">
                                            <div style="width:80%">
                                                <h1>Tracking Number</h1>
                                                <input style="width:100%" type="text" id="fname" name="fname" placeholder="Click Here to Enter Tracking Number">
                                            </div>
                                        </mat-grid-tile>

                                        <mat-grid-tile [rowspan]="1">
                                            <div style="width:80%">
                                                <h1>Authorization ID</h1>
                                                <input style="width:100%" type="text" id="fname" name="fname" placeholder="Click Here to Enter Authorization ID">
                                            </div>
                                        </mat-grid-tile>

                                        <mat-grid-tile [rowspan]="1">
                                            
                                        </mat-grid-tile>
                                   </mat-grid-list>
                                </div>
                            
                            </mat-grid-tile>
                            
                            <mat-grid-tile [rowspan]="1" >
                                
                                <div class="card" style="width:100%; ">
                                    <div class="card-header card-light-header">
                                        <div class="d-flex">
                                            <div>
                                                &nbsp;Select Carrier, Enter Tracking Number, Enter Authorization ID
                                            </div>
                                            <a data-toggle="collapse" href="#collapseOne" title="Toggle Visibility" class=" flex-grow-1 float-right">
                                                <i class="oi oi-chevron-bottom float-right" style="color: white;"></i>
                                            </a>
                                        </div>
                                    </div>
                                   <mat-grid-list [cols]="2" rowHeight="8rem" >
                                       <p> Choose Filters to Find Open POs</p>
                                      
                                        <mat-grid-tile [rowspan]="1">
                                            
                                            <button class="btn btn-secondary btn-sm w-100 mb-2" style="width:50%; font-size:16px;" role="button">EDI Customer Account</button><div style="padding-left:5px;"></div>
                                            <button class="btn btn-secondary btn-sm w-100 mb-2" style="width:50%; font-size:16px; " role="button">Distribution Center</button>
                                        </mat-grid-tile>

                                        <mat-grid-tile [rowspan]="1">
                                            
                                            <button class="btn btn-secondary btn-sm w-100 mb-2" style="width:25%; font-size:16px;" role="button">Reset</button><div style="padding-left:5px;"></div>
                                         
                                        </mat-grid-tile>
                                   </mat-grid-list>
                                </div>
                            
                            </mat-grid-tile>
                            
                            
                        </mat-grid-list>
                    
         
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>


